.top
{
    margin: auto;
    align-content: center;
}
.center
{
    text-align: center;
    margin: 1%;
}
.btn
{
    padding: 5px;
    color: white;
    background-color: burlywood;
    border-radius: 10%;
    align-content: center;
    
}
.btn1
{
    margin: 2% ;
    text-align: center;
}