<div class="topnav">
    <a routerLink="add-flight">ADD FLIGHT</a>
    <a routerLink="flight-status">CHANGE FLIGHT STATUS</a>
    <a routerLink="schedule-flight">Add Schedule</a>
    <div class="dropdown">
        <button class="dropbtn">Search Flights</button>
        <div class="dropdown-content">
          <a routerLink="search-flight-id">By FlightId</a>
          <a routerLink="search-flight-sd">By Source&Destination</a>
          <a routerLink="search-flight-by-status">By Status</a>
        </div>
    </div>
    <div class="dropdown1">
        <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <a routerLink=''>logout</a>
        </div>
    </div>
</div>