<div class="topnav">
    <a routerLink=''>Home</a>
</div>
<div class = "homepage">
<div class="container">
    <h3>User Login</h3>
    <form (ngSubmit)="loginCheck()" class="fo">
        <label>Email</label><br>
        <input type="text" name="username" [(ngModel)]="userLoginDto.email" /><br><br>
        <label>Password</label><br>
        <input type="password" name="password" [(ngModel)]="userLoginDto.password" /><br><br>
        <button type="submit" class="btnclr">Login</button>
    </form>
</div>

